<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Search</title>
</head>

<body>
<form  action="#" th:action="@{/find}" th:object="${params}" method="post">
    <input type="text" name="query" placeholder="Enter request here" th:field="*{query}">
    <br>
    <input type="text" name="num" placeholder="Amount of results" th:field="*{num}">
    <br>
    <input type="submit" value="Search">
</form>
<table>
<tbody>
<tr th:if="${list == null || list.isEmpty()}">
    <td> Nothing found </td>
</tr>
<tr th:if="${list !=null && !list.isEmpty()}">
    <th>Link</th>
    <th>Title</th>
    <th>Keywords</th>
    <th>Text</th>
</tr>
<tr th:each="item : ${list}">
    <td><a th:href="${item.link}">link</a></td>
    <td><span th:text="${item.title}"></span></td>
    <td><span th:text="${item.keywords}"></span></td>
    <td><span th:text="${item.text}"></span></td>
</tr>
</tbody>
</table>
</body>
</html>